code/node-red/iiot_lecture.json
[
    {
        "id": "70da82dacddcb7e9",
        "type": "tab",
        "label": "IIoT Lecture Input",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2dab59fe78d433fd",
        "type": "mqtt in",
        "z": "70da82dacddcb7e9",
        "name": "",
        "topic": "ESPBox2/tracker2",
        "qos": "2",
        "datatype": "json",
        "broker": "a1b8bf4.8e82e4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "e30b40377c0e43fe",
                "949b1da036eb2a58"
            ]
        ]
    },
    {
        "id": "c4d974b25dc1465a",
        "type": "mqtt in",
        "z": "70da82dacddcb7e9",
        "name": "",
        "topic": "ESPBox1/tracker2",
        "qos": "0",
        "datatype": "json",
        "broker": "a03d1a27.84c4c8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "e30b40377c0e43fe",
                "949b1da036eb2a58"
            ]
        ]
    },
    {
        "id": "e30b40377c0e43fe",
        "type": "debug",
        "z": "70da82dacddcb7e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "949b1da036eb2a58",
        "type": "json",
        "z": "70da82dacddcb7e9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "6119cc88c803610c"
            ]
        ]
    },
    {
        "id": "6119cc88c803610c",
        "type": "change",
        "z": "70da82dacddcb7e9",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "ESPBox2/tracker2",
                "fromt": "str",
                "to": "tracker_robot",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "ESPBox1/tracker2",
                "fromt": "str",
                "to": "tracker_top_cover",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "398f41d2ac07f205"
            ]
        ]
    },
    {
        "id": "398f41d2ac07f205",
        "type": "function",
        "z": "70da82dacddcb7e9",
        "name": "Generate SQL Query",
        "func": "\nswitch(msg.topic){\n    /*\n    case 'imu':\n        msg.topic = \"INSERT INTO \" + msg.topic + \" (ax, ay, az, rx, ry, rz, timestamp) VALUES (\" + Number(msg.payload[\"acceleration\"][0]) + \", \" + Number(msg.payload[\"acceleration\"][1]) + \", \" + Number(msg.payload[\"acceleration\"][2]) + \", \" + Number(msg.payload[\"gyroscope\"][0]) + \", \"+ Number(msg.payload[\"gyroscope\"][1]) + \", \"+ Number(msg.payload[\"gyroscope\"][2]) + \", \"+ Number((Date.now()/1000).toFixed(0)) + \")\";\n        break;\n    */\n    case 'tracker_robot':\n        msg.topic = \"INSERT INTO \" + msg.topic + \" (status, timestamp) VALUES (\" + Number(msg.payload.timeBlocked) + \", \" + Number(Date.now()) + \")\";\n        break;\n    case 'tracker_top_cover':\n        msg.topic = \"INSERT INTO \" + msg.topic + \" (status, timestamp) VALUES (\" + Number(msg.payload.timeBlocked) + \", \" + Number(Date.now()) + \")\";\n        break;\n    \n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 460,
        "wires": [
            [
                "a5d3ff8b527d6a27"
            ]
        ]
    },
    {
        "id": "a5d3ff8b527d6a27",
        "type": "mysql",
        "z": "70da82dacddcb7e9",
        "mydb": "4f1710704aaf6586",
        "name": "",
        "x": 890,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "38a2cc4448c88130",
        "type": "tab",
        "label": "IIoT Lecture Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ddff92be0ca52cf",
        "type": "group",
        "z": "38a2cc4448c88130",
        "name": "Dashboard Example",
        "style": {
            "fill": "#3f93cf",
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "13d22c8b84d34c78",
            "211867dc9024f00d",
            "0e9d098b15125acb"
        ],
        "x": 174,
        "y": 299,
        "w": 552,
        "h": 82
    },
    {
        "id": "15f7c076dc6eb8a2",
        "type": "group",
        "z": "38a2cc4448c88130",
        "name": "SQL Query Example",
        "style": {
            "stroke": "#000000",
            "fill": "#addb7b",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2a3efc8452bb06dc",
            "36ca3c7f966672b5",
            "3114d7031560da57",
            "efb3b3a260dd2d87",
            "a5600667b56a425c"
        ],
        "x": 34,
        "y": 59,
        "w": 892,
        "h": 202
    },
    {
        "id": "ebb7a525ca205a26",
        "type": "group",
        "z": "38a2cc4448c88130",
        "name": "SQL Query Example",
        "style": {
            "stroke": "#000000",
            "fill": "#addb7b",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5888120f3ed6205a",
            "dbd9a98c8a58d0f5",
            "1d8a1338464cd5bb",
            "65497ab22283d6dc",
            "4eedff0662e01bbc"
        ],
        "x": 54,
        "y": 419,
        "w": 892,
        "h": 202
    },
    {
        "id": "2a3efc8452bb06dc",
        "type": "mysql",
        "z": "38a2cc4448c88130",
        "g": "15f7c076dc6eb8a2",
        "mydb": "4f1710704aaf6586",
        "name": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "3114d7031560da57"
            ]
        ]
    },
    {
        "id": "36ca3c7f966672b5",
        "type": "inject",
        "z": "38a2cc4448c88130",
        "g": "15f7c076dc6eb8a2",
        "name": "get_data_from_time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " SELECT timestamp, status FROM tracker_top_cover WHERE timestamp >= ((UNIX_TIMESTAMP() - (3*3600))*1000);",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "2a3efc8452bb06dc"
            ]
        ]
    },
    {
        "id": "3114d7031560da57",
        "type": "debug",
        "z": "38a2cc4448c88130",
        "g": "15f7c076dc6eb8a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "efb3b3a260dd2d87",
        "type": "inject",
        "z": "38a2cc4448c88130",
        "g": "15f7c076dc6eb8a2",
        "name": "get_latest_x_samples",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT timestamp, status FROM tracker_top_cover where limit 200;",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "2a3efc8452bb06dc"
            ]
        ]
    },
    {
        "id": "a5600667b56a425c",
        "type": "inject",
        "z": "38a2cc4448c88130",
        "g": "15f7c076dc6eb8a2",
        "name": "get_number_of_samples_in_time_frame",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " SELECT count(id) FROM tracker_top_cover WHERE timestamp >= ((UNIX_TIMESTAMP() - (1*3600))*1000);",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "2a3efc8452bb06dc"
            ]
        ]
    },
    {
        "id": "13d22c8b84d34c78",
        "type": "ui_button",
        "z": "38a2cc4448c88130",
        "g": "2ddff92be0ca52cf",
        "name": "",
        "group": "d46f2737f65046e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": " SELECT count(id) FROM tracker_top_cover WHERE timestamp >= ((UNIX_TIMESTAMP() - (1*3600))*1000);",
        "topicType": "str",
        "x": 260,
        "y": 340,
        "wires": [
            [
                "0e9d098b15125acb"
            ]
        ]
    },
    {
        "id": "211867dc9024f00d",
        "type": "ui_gauge",
        "z": "38a2cc4448c88130",
        "g": "2ddff92be0ca52cf",
        "name": "",
        "group": "d46f2737f65046e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Unit Count (1 hour)",
        "label": "units",
        "format": "{{msg.payload[0][\"count(id)\"]}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "50",
        "seg2": "200",
        "className": "",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "0e9d098b15125acb",
        "type": "mysql",
        "z": "38a2cc4448c88130",
        "g": "2ddff92be0ca52cf",
        "mydb": "4f1710704aaf6586",
        "name": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "211867dc9024f00d"
            ]
        ]
    },
    {
        "id": "5888120f3ed6205a",
        "type": "mysql",
        "z": "38a2cc4448c88130",
        "g": "ebb7a525ca205a26",
        "mydb": "4f1710704aaf6586",
        "name": "",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "1d8a1338464cd5bb"
            ]
        ]
    },
    {
        "id": "dbd9a98c8a58d0f5",
        "type": "inject",
        "z": "38a2cc4448c88130",
        "g": "ebb7a525ca205a26",
        "name": "get_data_from_time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " SELECT timestamp, status FROM tracker_robot WHERE timestamp >= ((UNIX_TIMESTAMP() - (3*3600))*1000);",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "5888120f3ed6205a"
            ]
        ]
    },
    {
        "id": "1d8a1338464cd5bb",
        "type": "debug",
        "z": "38a2cc4448c88130",
        "g": "ebb7a525ca205a26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "65497ab22283d6dc",
        "type": "inject",
        "z": "38a2cc4448c88130",
        "g": "ebb7a525ca205a26",
        "name": "get_latest_x_samples",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT timestamp, status FROM tracker_robot where limit 200;",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 520,
        "wires": [
            [
                "5888120f3ed6205a"
            ]
        ]
    },
    {
        "id": "4eedff0662e01bbc",
        "type": "inject",
        "z": "38a2cc4448c88130",
        "g": "ebb7a525ca205a26",
        "name": "get_number_of_samples_in_time_frame",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " SELECT count(id) FROM tracker_robot WHERE timestamp >= ((UNIX_TIMESTAMP() - (1*3600))*1000);",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "5888120f3ed6205a"
            ]
        ]
    },
    {
        "id": "a1b8bf4.8e82e4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a03d1a27.84c4c8",
        "type": "mqtt-broker",
        "name": "iiot_case_2",
        "broker": "10.3.141.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4f1710704aaf6586",
        "type": "MySQLdatabase",
        "name": "",
        "host": "10.3.141.1",
        "port": "3306",
        "db": "iiot_lecture",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d46f2737f65046e7",
        "type": "ui_group",
        "name": "iiot_lecture",
        "tab": "3dba424aeb3b3bb6",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dba424aeb3b3bb6",
        "type": "ui_tab",
        "name": "IIoT Lecture",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
